{
  "root": true,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    // Disable for __DEV__, __SERVER__ usage.
    "no-undef" : 0,
    // Disable for console/alert
    "no-console": 0,
    "no-alert": 0,
    "no-tabs": 0,
    "indent": ["error", "tab"],
    "linebreak-style": ["error", "unix"],
    // eslint-plugin-react-native setting
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,

    // eslint-plugin-react setting
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-bind": [1, {
		  "ignoreRefs": true,
		  "allowArrowFunctions": true,
		  "allowBind": true
		}],
		"react/jsx-indent": [1, 'tab'],
		"react/jsx-indent-props": [1, 'tab']
  },
  "plugins": [
    "react",
    "react-native",
    "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEV__": true
  }
}
